# If you rewrite .project.envrc, exec `direnv allow` to reload env.

export GOPATH=$(pwd)/vendor
export GOBIN=$(pwd)/vendor/bin
export GO111MODULE=on
export PATH=$(pwd)/vendor/bin:$PATH

export GOOGLE_SERVICE_ACCOUNT_JWT=$(pwd)/.jwt.json

if [ -f .project.envrc  ]; then
  source .project.envrc
else
  echo "Error: .project.envrc is not found."
  touch .project.envrc
  echo "export APP_ENV=development" >> .project.envrc
  echo "export DISCORD_BOT_TOKEN=" >> .project.envrc
  echo "export DISCORD_BOT_CLIENT_ID=" >> .project.envrc
  echo "export TOURNAMENT_SHEET_ID=" >> .project.envrc
  echo "=> create .project.envrc"
  echo "please set your settings."
  echo ""
fi
